{% if players|length != 0 %}
    <h1>Aktive Spieler</h1>
    <p>Zur Zeit sind {{ players|length }} Spieler online.</p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>UUID</th>
                    <th>Name</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.uuid }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Zur Zeit keine Spieler aktiv!</p>
{% endif %}
